/* app global css */
.blink {
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    animation-duration: 2s;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 2s;
    -moz-animation-name: blinker;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -moz-animation-duration: 2s;
    -ms-animation-name: blinker;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -ms-animation-duration: 2s;
    -o-animation-name: blinker;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -o-animation-duration: 2s;
  }
   
  @keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
  }
   
  @-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
  }

  @-moz-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
  }

  @-ms-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
  }

  @-o-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
  }